{% load static %}
<section id="regalos" class="relative scroll-mt-28 bg-brand-cream overflow-hidden">
    <div class="relative mx-auto max-w-6xl px-4 sm:px-6 py-16 sm:py-20 text-center">
        <div class="title-box mb-10 reveal">
            <img
                    src="{% static 'invitations/images/titles/mesa_regalos.webp' %}"
                    alt="Mesa de regalos"
                    class="title-img opacity-95 select-none"
                    style="--title-scale: 1.20;"
                    loading="lazy"
                    decoding="async"
            />
        </div>

        <div class="mt-8 flex justify-center reveal" data-delay="120">
            <img
                    src="{% static 'invitations/images/texts/mesa_regalos.webp' %}"
                    alt="Nuestro mayor regalo es contar con su compañía. Sin embargo, si desean hacernos algún obsequio, a continuación les proporcionamos nuestros datos."
                    class="w-[98%] xs:w-[96%] sm:w-[80%] md:w-[70%] max-w-3xl opacity-90 select-none"
                    loading="lazy"
                    decoding="async"
            />
        </div>


        <div class="mt-8 flex justify-center reveal" data-delay="240">
            <img
                    src="{% static 'invitations/images/texts/regalos_cuentas.webp' %}"
                    alt="Nuestro mayor regalo es contar con su compañía. Sin embargo, si desean hacernos algún obsequio, a continuación les proporcionamos nuestros datos."
                    class="w-[98%] xs:w-[96%] sm:w-[80%] md:w-[70%] max-w-3xl opacity-90 select-none"
                    loading="lazy"
                    decoding="async"
            />
        </div>

    </div>
</section>
